@{
    ViewBag.Title = "Home Page";
}

<section>
    <div id="content">
        <h2 class="naglowek">Kontakt</h2>
        <p>Zapraszamy pod adres:<br />ul. Pod Fortem 12 <br />12-345 Kraków</p>
        <p>Czynne:<br />Od poniedziałku do piątku: 8:00 - 16:00<br />W soboty: 10:00 - 14:00</p>
        <p>Kontakt telefoniczny:<br />535 285 541<br />792 800 381</p>
        <h3>Mapa Dojazdu:</h3>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=krakow+pod+fortem+12&amp;aq=&amp;sll=20.673905,-103.297577&amp;sspn=0.556983,0.891953&amp;ie=UTF8&amp;hq=&amp;hnear=Pod+Fortem+12,+Krak%C3%B3w,+Wojew%C3%B3dztwo+ma%C5%82opolskie&amp;ll=50.082494,19.920545&amp;spn=0.005583,0.013937&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=krakow+pod+fortem+12&amp;aq=&amp;sll=20.673905,-103.297577&amp;sspn=0.556983,0.891953&amp;ie=UTF8&amp;hq=&amp;hnear=Pod+Fortem+12,+Krak%C3%B3w,+Wojew%C3%B3dztwo+ma%C5%82opolskie&amp;ll=50.082494,19.920545&amp;spn=0.005583,0.013937&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>
        <p>Jak do nas dotrzeć:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
        <img src="images/miejsce.jpg" alt="zdjecie miejsca firmy" width="425" height="350" />
    </div>
</section>
